.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.headerstyle{
  color: #5bbeff;
  background-color: #072146;
  border-color: #072146;
}

a:hover {
  text-decoration: none;
}
