<div class="footer headerstyle py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center justify-content-around">
        <a href="#">
          <i class="d-block fab fa-facebook fa-lg headerstyle"></i>
        </a>
        <a href="#">
          <i class="d-block fab fa-instagram fa-lg headerstyle"></i>
        </a>
        <p class="headerstyle pt-3">
          Time Force Tech S.L.
        </p>
        <a href="#">
          <i class="d-block fab fa-twitter fa-lg headerstyle"></i>
        </a>
        <a href="#">
          <i class="d-block fab fa-youtube fa-lg headerstyle"></i>
        </a>
      </div>
    </div>
  </div>
</div>
