<!--Primer navbar-->
<nav class="navbar navbar-expand-md headerstyle">
  <ul class="navbar-nav mx-auto">
    <!--Inicializamos blocklogo-->
    <app-blocklogo [nombre]="nombre" [fuente]="fuente" [estilo]="estilo"></app-blocklogo>
    <!--Fin blocklogo-->
  </ul>
</nav>
<!--Segundo navbar-->
<nav class="navbar navbar-expand-md topbarstyle">
  <div class="container">
    <!--Control de collapse del header mediante directiva ng-bootstrap-->
    <button type="button" class="navbar-toggler navbar-toggler-right border-0" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="header">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="header" class="collapse navbar-collapse ml-5" [ngbCollapse]="isCollapsed">
      <!--Fin control collapse-->

      <!--Dejamos espaciado en medio-->
      <ul class="navbar-nav mx-auto ml-5">
        <li class="nav-item">
          <button type="button" class="btn topbarstyle" routerLink="/perfil/{id}">
            {{textButtonMiCuenta}}
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn topbarstyle" routerLink="/crearservicio">
            {{textButtonCrearServicio}}
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn topbarstyle" routerLink="/serviciosofertados">
            {{textButtonServiciosOfertados}}
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn topbarstyle" routerLink="/serviciosconsumidos">
            {{textButtonServiciosConsumidos}}
          </button>
        </li>
      </ul>
      <!--Buscador de servicios-->
      <div class="input-group col-md-3">
        <input class="form-control py-2 topbarstyle" type="search" id="inputsearch">
          <span class="input-group-append">
            <button class="btn topbarstyle " type="button" routerLink="/buscadorservicios">
              <i class="fa fa-search"></i>
            </button>
          </span>
      </div>
      <!--Logout-->
      <ul class="navbar-nav mt-md-2 pb-1 md-3">
        <li class="nav-item">
          <button class="btn topbarstyle">
            Salir <i class="fas fa-sign-out-alt fa-fw"></i>
          </button>
        </li>
      </ul>
      <!--Fin logout-->
    </div>
  </div>
</nav>
