<app-topbaruser></app-topbaruser>

<div class="py-1 mt-3 mb-1 ml-3 mr-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mb-3">
        <h6 class="text-center">
          <b><b>Mis servicios consumidos</b></b>
        </h6>
      </div>
    </div>
    <table class="table table-bordered" id="serviciosConsumidos">
      <thead class="text-center">
      <tr>
        <th scope="col">Identificador</th>
        <th scope="col">Categoria</th>
        <th scope="col">Fecha</th>
        <th scope="col">Ofertante</th>
        <th scope="col">Valoracion</th>
        <th scope="col">Cancelado</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let servicio of servicios">
        <td>{{servicio.idServicio}}</td>
        <td>{{servicio.categoria}}</td>
        <td>{{servicio.fechaHora}}</td>
        <td>{{servicio.ofertante.nombre}}{{servicio.ofertante.apellidos}}</td>
        <td>{{servicio.valoracion}}</td>
        <td>{{servicio.cancelado}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
