<app-header></app-header>
<div class="py-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3 text-center">
        <h5>
          <b><b>Login</b></b>
        </h5>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto col-lg-6 col-10" style="">
        <form name="form" class="text-center" (ngSubmit)="f.form.valid &&  loginUsuario()" #f="ngForm" novalidate>
          <!--Usuario-->
          <div class="form-group mt-5 mb-5">
            <label for="username">Usuario (DNI)</label>
            <input type="text" class="form-control mt-3" id="username" aria-describedby="userHelp" name="Nif"
                   [(ngModel)]="usuariolog.username" #username="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required minlength="9" maxlength="9"/>
            <small id="usernameHelp" class="form-text text-muted text-center"> Introduce la letra de tu documento sin
              espacio ni guión
            </small>
            <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
              <div *ngIf="username.errors.required">Usuario es un campo requerido</div>
              <div *ngIf="username.errors.minlength">Debes introducir 9 caracteres</div>
              <div *ngIf="username.errors.maxlength">Debes introducir 9 caracteres</div>
            </div>
          </div>
          <!--Contraseña-->
          <div class="form-group">
            <label for="password">Clave de acceso</label>
            <input type="password" class="form-control mt-3" id="password" aria-describedby="password" name="password"
                   [(ngModel)]="usuariolog.password" #password="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="8" maxlength="15"/>
            <small id="passwordHelp" class="form-text text-muted text-center"> La clave de acceso debe tener entre 8 y 15
              caracteres
            </small>
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Clave de acceso es un campo requerido</div>
              <div *ngIf="password.errors.minlength">La contraseña debe tener entre 8 y 15 caracteres</div>
              <div *ngIf="password.errors.maxlength">La contraseña debe tener entre 8 y 15 caracteres</div>
            </div>
          </div>
          <!--Loguearse-->
          <div class="mx-auto text-center">
            <button type="submit" class="btn headerstyle" (click)="loginUsuario()">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

