<!--Container-->
<div class="py-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3 text-center">
        <h5>
          <b><b>Formulario de registro</b></b>
        </h5>
        <hr>
        <!--Modal: ¿por qué pedimos estos datos?-->
        <app-explanationform></app-explanationform>
        <!--Fin modal-->
      </div>
    </div>
    <div class="row">
      <div class="mx-auto col-lg-6 col-10" style="">
        <!--Template driven form with validation-->
        <!--#f: Dice, meteme toda la etiqueta HTML form en una variable para que la pueda usar.
        Estamos diciendo que f es una referencia al objeto formulario de Angular y ese objeto tiene métodos.
        - f.form es una instancia de formGroup
        - f.form.valid devuelve un bolean diciendo si ha superado la validación.
        - (ngsubmit): Directiva que envía el formulario.
        - (ngSubmit)="f.form.valid && onSubmit()" concatencaión de órdenes. Si no se cumple la primera no ejecuta la segunda
        (novalidate le dice a html que no valide).
        - [(ngModel)] mapea este input a un atributo del objeto model y cualquier cambio que haya en los dos sentidos se vuelve a mapear.
        - model es un objeto al que se le va metiendo atributos con los valores que hay en input.
        - #userid es una refencia al elemento html input manejado por angular. Lo mismo que en #f
        - [ngClass] es lo mismo que esto:
          En scss:.rojo{color: #3f51b5;}
          En html: div class="rojo";
         La diferencia es que ngClass recibe un hashmap en el que la clave es la clase y el valor un boleano, de forma que si el boleano es false no aplica la clase
        - [ngClass]="{ 'is-invalid': f.submitted && userid.invalid }" required minlength="9"
        Si se ha dado a enviar y no se cumple required y minlength, ponemos la clase como is-invalid, que es de bootstrap-->
        <form name="form" class="text-left" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
              [mustMatch]="['claveAcceso', 'cAcceso2']" novalidate>
          <!--Datos de acceso-->
          <p class=""><b><b>Datos de acceso</b></b></p>
          <!--Usuario-->
          <div class="form-group">
            <label for="nif">Usuario (DNI) *:</label>
            <input type="text" class="form-control w-50" id="nif" aria-describedby="userHelp" name="nif"
                   [(ngModel)]="nuevoUsuario.nif" #nif="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && nif.invalid }" required minlength="9" maxlength="9"/>
            <small id="nifHelp" class="form-text text-muted text-justify"> Introduce la letra de tu documento sin
              espacio ni guión
            </small>
            <div *ngIf="f.submitted && nif.invalid" class="invalid-feedback">
              <div *ngIf="nif.errors.required">Usuario es un campo requerido</div>
              <div *ngIf="nif.errors.minlength">Debes introducir 9 caracteres</div>
              <div *ngIf="nif.errors.maxlength">Debes introducir 9 caracteres</div>
            </div>
          </div>
          <!--Contraseña-->
          <div class="form-group">
            <label for="claveAcceso">Clave de acceso *:</label>
            <input type="password" class="form-control" id="claveAcceso" aria-describedby="claveAcceso" name="claveAcceso"
                   [(ngModel)]="nuevoUsuario.claveAcceso" #claveAcceso="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && claveAcceso.invalid }" required minlength="8" maxlength="15"/>
            <small id="claveAccesoHelp" class="form-text text-muted text-justify"> La clave de acceso debe tener entre 8 y 15
              caracteres. Distingue entre mayúsculas y minúsculas
            </small>
            <div *ngIf="f.submitted && claveAcceso.invalid" class="invalid-feedback">
              <div *ngIf="claveAcceso.errors.required">Clave de acceso es un campo requerido</div>
              <div *ngIf="claveAcceso.errors.minlength">La contraseña debe tener entre 8 y 15 caracteres</div>
              <div *ngIf="claveAcceso.errors.maxlength">La contraseña debe tener entre 8 y 15 caracteres</div>
            </div>
          </div>
          <!--Confirmar contraseña-->
          <div class="form-group">
            <label for="cAcceso2">Confirma tu clave de acceso *:</label>
            <input type="password" class="form-control" id="cAcceso2" name="cAcceso2" [(ngModel)]="nuevoUsuario.cAcceso2"
                   #cAcceso2="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cAcceso2.invalid }" required/>
            <div *ngIf="f.submitted && cAcceso2.invalid" class="invalid-feedback">
              <div *ngIf="cAcceso2.errors.required">Por favor, confirma tu clave de acceso</div>
              <div *ngIf="cAcceso2.errors.mustMatch">Las claves de acceso deben coincidir</div>
            </div>
          </div>
          <!--Datos personales-->
          <p class=""><b><b>Datos personales</b></b></p>
          <!--Nombre-->
          <!--TODO: Controlar que solo meta letras-->
          <div class="form-group">
            <label for="nombre">Nombre *:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nuevoUsuario.nombre" #nombre="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && nombre.invalid }" required/>
            <div *ngIf="f.submitted && nombre.invalid" class="invalid-feedback">
              <div *ngIf="nombre.errors.required">Por favor, introduce tu nombre</div>
            </div>
          </div>
          <!--Apellidos-->
          <!--TODO: Controlar que solo meta letras-->
          <div class="form-group">
            <label for="apellidos">Apellidos *:</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="nuevoUsuario.apellidos"
                   #apellidos="ngModel" [ngClass]="{ 'is-invalid': f.submitted && apellidos.invalid }" required/>
            <div *ngIf="f.submitted && apellidos.invalid" class="invalid-feedback">
              <div *ngIf="apellidos.errors.required">Por favor, introduce tus apellidos</div>
            </div>
          </div>
          <!--Fecha de nacimiento-->
          <!--TODO: Controlar que la fecha no sea anterior a 100 años antes-->
          <div class="form-group">
            <label for="fechaNacimiento">Fecha de nacimiento *:</label>
            <input type="date" class="form-control" id="fechaNacimiento" aria-describedby="fechaNacimiento" name="fechaNacimiento"
                   [(ngModel)]="nuevoUsuario.fechaNacimiento" #fechaNacimiento="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && fechaNacimiento.invalid }" required/>
            <div *ngIf="f.submitted && fechaNacimiento.invalid" class="invalid-feedback">
              <div *ngIf="fechaNacimiento.errors.required">Por favor, introduce una fecha</div>
            </div>
          </div>
          <!--Datos de localización-->
          <p class=""><b><b>Datos de localización</b></b></p>
          <!--Tipo de vía-->
          <!--TODO: Controlar que solo meta un valor const-tiposvia-->
          <div class="form-group">
            <label for="tipoVia">Tipo de vía *:</label>
            <input type="text" class="form-control" id="tipoVia" name="tipoVia" [(ngModel)]="nuevoUsuario.tipoVia"
                   #tipoVia="ngModel" [ngClass]="{ 'is-invalid': f.submitted && tipoVia.invalid }" required/>
            <small id="tipoViaHelp" class="form-text text-muted text-justify">
              Ejemplo: Calle, Callejón, Avenida, Plaza, Paseo
            </small>
            <div *ngIf="f.submitted && tipoVia.invalid" class="invalid-feedback">
              <div *ngIf="tipoVia.errors.required">Debes introducir un tipo de vía válido</div>
            </div>
          </div>
          <!--Nombre-->
          <div class="form-group">
            <label for="nombreVia">Nombre de vía *:</label>
            <input type="text" class="form-control" id="nombreVia" name="nombreVia" [(ngModel)]="nuevoUsuario.nombreVia"
                   #nombreVia="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nombreVia.invalid }" required/>
            <div *ngIf="f.submitted && nombreVia.invalid" class="invalid-feedback">
              <div *ngIf="nombreVia.errors.required">Nombre de vía es un campo requerido</div>
            </div>
          </div>
          <!--Número-->
          <div class="form-group">
            <label for="numeroPortal">Número de portal *:</label>
            <input type="number" class="form-control" id="numeroPortal" name="numeroPortal" [(ngModel)]="nuevoUsuario.numeroPortal"
                   #numeroPortal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && numeroPortal.invalid }" required [maxLength]="3"  [min]="1" [max]="999"/>
            <small id="numeroPortalHelp" class="form-text text-muted text-justify">
              El número de portal no puede tener más de tres dígitos
            </small>
            <div *ngIf="f.submitted && numeroPortal.invalid" class="invalid-feedback">
              <div *ngIf="numeroPortal.errors.required">Número de portal es un campo requerido</div>
              <div *ngIf="numeroPortal.errors.maxlength">El número de portal no puede tener más de tres dígitos</div>
            </div>
          </div>
          <!--Escalera-->
          <div class="form-group">
            <label for="escalera">Escalera:</label>
            <input type="text" class="form-control" id="escalera" name="escalera" [(ngModel)]="nuevoUsuario.escalera"
                   #escalera="ngModel" [ngClass]="{ 'is-invalid': f.submitted && escalera.invalid }" maxlength="1">
            <div *ngIf="f.submitted && escalera.invalid" class="invalid-feedback">
              <div *ngIf="escalera.errors.maxlength">La escalera no puede tener más de una letra</div>
            </div>
          </div>
          <!--Puerta-->
          <div class="form-group">
            <label for="puerta">Puerta:</label>
            <input type="number" class="form-control" id="puerta" name="puerta" [(ngModel)]="nuevoUsuario.puerta"
                   #puerta="ngModel" [ngClass]="{ 'is-invalid': f.submitted && puerta.invalid }" [min]="1">
            <div *ngIf="f.submitted && puerta.invalid" class="invalid-feedback">
              <div *ngIf="puerta.errors.min">El número de puerta debe ser positivo</div>
            </div>
          </div>
          <!--Localidad-->
          <div class="form-group">
            <label for="localidad">Localidad *:</label>
            <input type="text" class="form-control" id="localidad" name="localidad"
                   [(ngModel)]="nuevoUsuario.localidad" #localidad="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && localidad.invalid }" required/>
            <div *ngIf="f.submitted && localidad.invalid" class="invalid-feedback">
              <div *ngIf="localidad.errors.required">Localidad es un campo requerido</div>
            </div>
          </div>
          <!--Provincia-->
          <!--TODO: Controlar que solo sea un valor de const-provincias y crear la constante-->
          <div class="form-group">
            <label for="provincia">Provincia *:</label>
            <input type="text" class="form-control" id="provincia" name="provincia" [(ngModel)]="nuevoUsuario.provincia"
                   #provincia="ngModel" [ngClass]="{ 'is-invalid': f.submitted && provincia.invalid }" required/>
            <div *ngIf="f.submitted && provincia.invalid" class="invalid-feedback">
              <div *ngIf="provincia.errors.required">Provincia es un campo requerido</div>
            </div>
          </div>
          <!--Código postal-->
          <!--TODO: Controlar que meta exactamente 5 números positivos-->
          <div class="form-group">
            <label for="codPostal">Código postal *:</label>
            <input type="number" class="form-control" id="codPostal" name="codPostal" [(ngModel)]="nuevoUsuario.codPostal"
                   #codPostal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && codPostal.invalid }" required [minLength]="5" [maxLength]="5" [min]="11111" [max]="99999"/>
            <small id="codPostalHelp" class="form-text text-muted text-justify">
              El código postal consta de cinco números (ej. 41005)
            </small>
            <div *ngIf="f.submitted && codPostal.invalid" class="invalid-feedback">
              <div *ngIf="codPostal.errors.required">Código postal es un campo requerido</div>
            </div>
          </div>
          <!--Datos de contacto-->
          <p class=""><b><b>Datos de contacto</b></b></p>
          <!--Móvil-->
          <!--TODO: Controlar que meta exactamente 9 números positivos-->
          <div class="form-group">
            <label for="telefono">Número de móvil *:</label>
            <input type="number" class="form-control w-50" id="telefono" name="telefono"
                   [(ngModel)]="nuevoUsuario.telefono" #telefono="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && telefono.invalid }" required [minLength]="9" [maxLength]="9" [min]="111111111" [max]="999999999"/>
            <small id="telefonoHelp" class="form-text text-muted text-justify">
              El número de móvil consta de nueve números (ej. 637111111)
            </small>
            <div *ngIf="f.submitted && telefono.invalid" class="invalid-feedback">
              <div *ngIf="telefono.errors.required">Por favor, introduce tu número de móvil</div>
            </div>
          </div>
          <!--Email-->
          <div class="form-group">
            <label for="mail">Email *:</label>
            <input type="email" class="form-control" id="mail" name="mail" [(ngModel)]="nuevoUsuario.mail" #mail="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && mail.invalid }" required email/>
            <div *ngIf="f.submitted && mail.invalid" class="invalid-feedback">
              <div *ngIf="mail.errors.required">Por favor, introduce tu email</div>
              <div *ngIf="mail.errors.email">Por favor, introduce un email válido</div>
            </div>
          </div>
          <!--Aceptación de términos y condiciones-->
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="terms" name="terms" value="on"
                     [(ngModel)]="nuevoUsuario.terms" #terms="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && terms.invalid }" required/>
              <label class="form-check-label" for="terms">
                He leído, comprendo y acepto el
                <app-dataprotectionlaw></app-dataprotectionlaw>
              </label>
              <div *ngIf="f.submitted && terms.invalid" class="invalid-feedback">
                <div *ngIf="terms.errors.required">Tienes que confirmar los términos y condiciones</div>
              </div>
            </div>
          </div>
          <!--Confirmación de mayoría de edad legal para trabajar-->
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="age" name="age" value="on" [(ngModel)]="nuevoUsuario.age" #age="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && age.invalid }" required/>
              <label class="form-check-label" for="age">
                Confirmo que tengo 16 años o más
              </label>
              <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
                <div *ngIf="age.errors.required">Tienes que confirmar tu mayoría de edad legal</div>
              </div>
            </div>
          </div>
          <!--Enviar formulario-->
          <div class="mx-auto text-center">
            <button type="submit" class="btn btn-outline-dark btn-lg" (click)="crearUsuario()">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
