//Corrige un problema de color al señalar errores cuando la casilla de mayoría de edad no está marcada

//Colores

.headerstyle{
  color: #5bbeff;
  background-color: #072146;
  border-color: #072146;
}

.btn:hover {
  color: #5bbeff;
  text-decoration: none;
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #040101;
}
